@charset "UTF-8";

*{
    padding: 3px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: purple;
    background-image: url("img/â¢\ ğ‘ğ„ğƒ\ \,\ ğ˜¢ğ˜­ğ˜ªğ˜¤ğ˜¦\ ğ˜ªğ˜¯\ ğ˜£ğ˜°ğ˜³ğ˜¥ğ˜¦ğ˜³ğ˜­ğ˜¢ğ˜¯ğ˜¥\ â.gif");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment:fixed ;
    background-size: cover;

}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.089)   ;
    border: .1px solid white;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    align-items: center;
    width: 350px;
    height: 450px;  
    color: white;
    position: relative;

}   



h1 {
    position: relative;
    align-items: center;
    text-align: center;
    color: white;
    height: 10px;
    margin: 15px;
    padding: 10px;
}

.input-text {
    padding: 8px;
    margin: 2px;   
    background-color: transparent;   
    opacity: 100;
    width: 50px;
    transition: all;
    transition-duration: 10s;
    text-decoration:underline ;
    padding-left: 20px;

}

input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 24px 0px;
    border-radius: 19px;
    background-color: transparent;
    border: 5px;
    outline: white;
    color: rgb(0, 255, 255);
    border: 1px solid white;
    
}

 input::placeholder {
    color: white;
    background-color: transparent;
    
}



.input-field {
    background-color: rgba(255, 255, 255, 0);
    padding-top: .0px;
    text-align: justify;
    border: 4px;
  
    
 
}

button {
    display: flex;  
    flex-direction: column;
    width: 238px;
    height: 500px;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    border: 4px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border: 20px;   
}

.center {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 1px;
    height: 54px;
    padding-top: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.links {
    display: flex;
    flex-direction: column;
   text-align: calc(30%); 
    padding: 20px;
    margin: 10px;
    text-align: left;
    padding: left 40px;
    text-decoration:underline;
    position: fixed;
    padding-left: 0px;
    padding-bottom: 7px;
    padding-top: 5px;
    padding-right: 5px;
}

